/* Global Layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #71a6eb85;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container .left-info img {
    height: 70px;
}

.header-container .center-info h1 {
    font-size: 24px;
    text-align: center;
    color: #007bff;
}

.header-container .right-info {
    text-align: right;
    font-size: 14px;
}

#logoutButton {
    background-color: #ebb239;
    color: white;
    padding: 10px 15px;
    border: 2px solid #e40707;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

#logoutButton:hover {
    background-color: #d9534f;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

/* General Utilities */
.hidden {
    display: none !important;
}

.center {
    text-align: center;
}
