{% from "utilities/_form_macros.html" import input_field, select_field %}
{% extends 'base.html' %}
{% block title %}Admin Panel 123{% endblock %}
{% block header_title %}Gestion de projet{% endblock %}
{% block extra_css %}
<style>
  .admin-section { margin-bottom: 2rem; }
  table { border-collapse: collapse; width: 100%; }
  th, td { border: 1px solid #ccc; padding: 4px; }
</style>
{% endblock %}
{% block content %}
<div id="root"></div>
{% endblock %}
{% block extra_js %}
{{ super() }}
{% if admin_css %}
<link rel="stylesheet" href="{{ url_for('static', filename=admin_css) }}">
{% endif %}
{% if admin_js %}
<script type="module" src="{{ url_for('static', filename=admin_js) }}"></script>
{% endif %}

{% endblock %}