<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TCC App{% endblock %}</title>
    <!-- Link to the favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Include other common styles or meta tags -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
