{% from "utilities/_form_macros.html" import input_field, select_field %}
{% extends "base_temp.html" %}

{% block title %}
Login
{% endblock %}

{% block head %}
    <!-- Link to Login-Specific CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<body>
    <div class="login-container">
        <form method="POST" action="{{ url_for('auth_bp.login') }}">
            <h2>Login to Your Account</h2>
            <!-- Display error messages if any -->
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            {{ input_field('email', 'Email:', required=True, type='email') }}
            {{ input_field('password', 'Password:', required=True, type='password') }}
            
            <button type="submit">Login</button>

        </form>
    </div>
</body>
{% endblock %}
</html>
